.character-card {
  background-color: #f4f4f9;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.character-card h2 {
  font-size: 1.5rem;
}

.character-card p {
  font-size: 1rem;
  margin: 5px 0;
}
